<ul class = "list-group">
    <li class="list-group-item d-flex justify-content-between-items-start mb-2 border px-4 py-3 rounded-3  mouse-hover" 
    *ngFor="let contractor of contractorService.theContractorList"
    (click)="onContractorItemClick(contractor)">
        <div class="flex-grow-1">
            <div class="fw-bold">{{contractor.name}}</div>
            <div class="fw">{{contractor.address}}</div>
        </div>
        <span class="text-secondary">
            <i class="fa-solid fa-trash-can" (click)="onContractorItemDelete(contractor.id)"></i>
        </span>
    </li>
</ul>
